body {
	margin: auto;
	padding: 0;
	width: 56%;	
	font-family: sans-serif;
	
}	

.answer {
	color: red;
}

h1 {
	font-family: 'Montserrat', sans-serif; 
	color:  #474754;
}	

.calculate {
	height: 45px;
	width: 150px;
	margin-top: 25px;
	margin-bottom: 15px;
	border: none;
	text-decoration: none;
	background-color: #8c8cab;
	color: white;
	font-size: 19px;
}

.calculate:hover {
	box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.28);
}

div.tab {
    overflow: hidden;
    border: 1px solid #8c8cab;
    background-color: #8c8cab;

}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 24px 26px;
    transition: 0.3s;
    color: white;
    font-size: 21px;
    width: 20%;
}

div.tab button:hover {
    background-color: #b9b9d0;
}

div.tab button.active {
    background-color: #b9b9d0;
}

.tabcontent {
	
	margin-top: 30px;
    display: none;
    margin-left: 20px;

}

input[type=text] {
	height: 30px;
	width: 40%;
	padding-left: 10px;
	font-size: 15px;
}

#footer {
	position: absolute;
	bottom: 20px;
	margin-left: 20px;
	color:  #66666f;
	width: inherit;
}

#footer ul {
	list-style-type: bullet;
}

#footer li {
	display: inline;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 12px;
}

#right {
	float: right;
	margin-right: 60px;
}

img {
	height: 25px;
	vertical-align: middle;
	
}
